/* ========== 기본 텍스트 스타일 ========== */
.show-page h3 {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.show-page hr {
    margin: 15px 0 20px;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}



.show-page ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

.show-page li {
    margin-bottom: 8px;
    padding-left: 20px;
    position: relative;
}

/* 리스트 아이콘 커스텀 */
.show-page li::before {
    content: "•";
    font-weight: 700;
    font-size: 1.5em;
    line-height: 0.5;
    position: absolute;
    left: 0;
    top: 5px;
}






